.app-container {
    height: 90%;

    .menu {
        border-style: solid;
        height: 100%;
        background-color:black;
    }
    
    .center-content {
        
        height: 100%;
    }
}
